<% if notice %>
  <p><%= notice %></p>
<% end %>

<div class="form">
  <%= form_with model: Link.new, remote: true do |form| %>
    <%= form.text_field :url %>
    <%= form.submit "SHORTEN" %>
  <% end %>
</div>

<div id="shortener-link"></div>
